/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.group:after {
 content: "";
 display: block;
 clear: both;
}


body {
margin: 0;
height: 100%;
}

html {
 /*height: 100%;*/
 background-image: url("background.jpg");
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 font-family: Helvetica, sans-serif;
}

ul {
 list-style: none;
}

#content {
 height: 100%;
 width: 100%;
 position: absolute;
 top: 54px;
}

.header {
 padding: 0;
 background: #f00;
 color: #fff;
 border: 2px solid black;
 display: flex;
 justify-content: space-between;
 width: 100%;
 position: fixed;
 top: 0px;
}

.header-logo {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 border-right: 2px solid black;
 font-weight: 700;
 padding: 0px 20px 0px 20px;
}

.header-logo:hover {
  background-color: orange;
  cursor: pointer;
}

#logo-link {
  text-decoration: none;
  color: white;
}

.header-list {
 display: flex;
 align-content: center;
 justify-content: flex-end;
 align-items: flex;
 height: 50px;
 margin: 0;
}

#sign-in-sign-up {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0px 5px;
  height: 100%;
}

.header-list > li {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 padding-left: 30px;
 padding-right: 50px;
 height: 100%;
}

#sign-in-sign-up:hover{
  cursor: pointer;
}

#login-form {
 height: 100%;
 width: 100%;
 background-color: red;
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
 padding: 0;
}

#actual-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#un-field {
  display: flex;
  justify-content: center;
}

#pw-field {
  display: flex;
  justify-content: center;
}

#form-radios {
  display: flex;
  justify-content: center;
}

#login-submit {
  margin: 0% 30%;
}

#auth-errors > li {
  text-align: center;
}

#restaurant-results {
 height: 100%;
 margin: 60px;
 background-color: rgba(55,133,55,0.94);
 border: 2px solid black;
 display: flex;
 flex-direction: column;
 border-radius: 15px;
 overflow: hidden;
}

#restaurant-results-header {
 height: 100%;
 width: 100%;
 border-bottom: 2px solid black;
 color: white;
 background-color: rgba(30, 255, 0,0.5);
 font-weight: 700;
 padding: 20px 0px;
 display: flex;
 justify-content: center;
 font-size: x-large;
}

#results-index {
  padding-right: 40px;
}

.rest-result-item {
  background-color: rgba(30, 255, 0,0.5);
  color: white;
  padding: 20px;
  border: 2px solid black;
  margin: 6px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.rest-result-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#rest-result-detail-description {
  color: black;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rest-result-item:hover {
  background-color: red;
}

#rest-details {
 height: 100%;
 margin: 60px;
 background-color: rgba(55,133,55,0.94);
 border: 2px solid black;
 display: flex;
 flex-direction: column;
 border-radius: 15px;
 overflow: hidden;
}

#restaurant-details-header {
 height: 100%;
 width: 100%;
 border-bottom: 2px solid black;
 background-color: rgba(30, 255, 0,0.5);
 color: white;
 font-weight: 700;
 padding: 20px 0px;
 display: flex;
 justify-content: center;
 font-size: x-large;
}


#rest-detail-content {
  color: white;
  padding: 20px;
}

.review {
  padding: 20px;
  margin: 6px 46px 6px 0px;
  border-radius: 6px;
  background-color: white;
}

#review-header {
  width: 100%;
  color: white;
  background-color: red;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 60px 20px 0px;
  display: flex;
  justify-content: center;
}
