/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.group:after {
 content: "";
 display: block;
 clear: both;
}


body {
margin: 0;
}

html {
 height: 100%;
 background-image: url("background.jpg");
 background-position: center center;
 background-size: cover;
 font-family: Helvetica, sans-serif;
}

ul {
 list-style: none;
}

#Content {
 height: 100%;
 width: 100%;
 display: flex;
}

#App {
 height: 100%;
 width: 100%;
}

.header {
 padding: 0;
 background: #f00;
 color: #fff;
 border: 2px solid black;
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.header-logo {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 border-right: 2px solid black;
 font-weight: 700;
 padding: 0px 20px 0px 20px;
}

.header-list {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.header a {
 display: flex;
 justify-content: flex-end;
 float: right;
}

.header-list > li {
 display: flex;
 justify-content: flex-end;
 padding-left: 30px;
 padding-right: 50px;
}

#login-form {
 height: 100%;
 width: 100%;
 display: flex;
 align-content: center;
 justify-content: center;
}

#restaurant-results {
 height: 100%;
 margin: 60px;
 background-color: rgba(55,133,55,0.94);
 border: 2px solid black;
 display: flex;
 flex-direction: column;
}

#restaurant-results-header {
 height: 100%;
 width: 100%;
 border-bottom: 2px solid black;
 background-color: rgba(30, 243, 255,0.5);
 padding: 20px 0px;
 display: flex;
 justify-content: center;
}

#results-index {
  padding-right: 40px;
}

.rest-result-item {
  color: white;
  padding: 20px;
  border: 1px solid yellow;
}
