/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   padding: 20px;
   height: 100%;
   background-image: url("background.jpg");
   background-position: center center;
   background-size: cover;
   font-family: Helvetica, sans-serif;
 }

 ul {
   list-style: none;
 }

 .header {
   background: #f00;
   color: #fff;
   border: 1px solid black;
   padding: 10px 0px;
   display: block;

 }


 .header-logo {
   float: left;
   border-right: 1px solid #ccc;
   font-weight: 700;
 }

 .header a {
   display: inline-block;
   /*padding: 10px 20px;*/
 }

 .header-list {
  /*float: right;*/
}
